@media screen and (max-width: 768px) {
  body {
    background: url("/images/sitebg2.jpg") no-repeat center fixed;
    background-size: cover;
  }
  .container {
    max-width: 100%;
    width: 90%;
  }
  li {
    margin: 2rem 0;
  }
  .landing-text {
    h1 {
      font-size: 15rem;
    }
    h6 {
      font-size: 1.7rem;
    }
  }
  .nav-list {
    flex-direction: column;
  }
  .about-heading h1 {
    font-size: 8rem;
  }
  .section-heading h1 {
    font-size: 3rem;
  }
  .about-details .nav-list {
    flex-direction: initial;
  }
  .about-details li {
    margin: 0 2rem;
  }
  .icon-container {
    width: 7rem;
    height: 7rem;
    i {
      font-size: 4rem;
    }
  }
  .timeline ul {
    margin: 0 0 0 auto;
  }
  .timeline .date::before {
    left: -20rem;
  }
  .timeline .date::after {
    left: -5.9rem;
  }
}

@media screen and (max-width: 600px) {
  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }
  .landing-text {
    h1 {
      font-size: 8rem;
    }
    h6 {
      font-size: 1.4rem;
    }
  }
  .nav-link {
    font-size: 3.5rem;
  }
  .about .container {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 0 7rem 0;
  }
  .portfolio-item {
    flex-direction: column;
  }
  .portfolio-img {
    margin: 0 0 2rem 0;
    order: 1;
  }
  .portfolio-description {
    margin: 0;
    order: 2;
  }
  .timeline {
    p {
      font-size: 1.5rem;
    }
    .date::before {
      font-size: 1.4rem;
    }
  }
  .contact form {
    width: 100%;
  }
  .up {
    right: 2rem;
  }
}
